---
- name: Setup Server for Prosper
  hosts: webservers
  become: true

  vars_files:
    - group_vars/all.yml

  roles:
    - common
    - security
    - docker
    - nginx
    - ddns
    - database
    - prosper
