[Unit]
Description=Prosper DB backup
After=mariadb.service

[Service]
Type=oneshot
User={{ service_user }}
ExecStart={{ bin_dir }}/backup.sh --env-file {{ env_file }} {{ backup_dir }}
StandardOutput=append:{{ backup_log }}
StandardError=append:{{ backup_log }}
