---
- name: Clone Prosper application
  git:
    repo: "{{ app_repo }}"
    dest: "{{ app_install_dir }}"
    force: no
  become: yes
  become_user: "{{ prosper_user }}"

- name: Create .env file
  template:
    src: .env.j2
    dest: "{{ app_install_dir }}/.env"
    owner: "{{ prosper_user }}"
    group: "{{ prosper_group }}"
    mode: '0600'
  notify: restart prosper

- name: Create systemd service
  template:
    src: prosper.service.j2
    dest: /etc/systemd/system/prosper.service
    owner: root
    group: root
    mode: '0644'
  notify: restart prosper

- name: Enable and start prosper service
  service:
    name: prosper
    state: started
    enabled: yes

- name: Setup exchange rates update cron
  cron:
    name: "Update exchange rates"
    minute: "16"
    job: "{{ app_install_dir }}/scripts/update_exchange_rates.sh >> /var/log/prosper/update-exchange-rates.log 2>&1"
    user: "{{ prosper_user }}"
