name: Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_run:
    workflows: ["Docker"]
    types:
      - completed

jobs:
  unit:
    if: github.event_name != 'workflow_run'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with: {node-version: '20', cache: 'npm'}
      - run: npm ci
      - run: npm run test

  e2e:
    if: >
      github.event_name == 'pull_request' ||
      (github.event_name == 'workflow_run' && github.event.workflow_run.conclusion == 'success')
    runs-on: ubuntu-latest
    services:
      mysql-e2e:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: prosper_e2e_test_db
        ports:
          - 3307:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
    steps:
      - uses: actions/checkout@v4
        if: github.event_name != 'workflow_run'
      - uses: actions/checkout@v4
        if: github.event_name == 'workflow_run'
        with:
          ref: ${{ github.event.workflow_run.head_sha }}

      - uses: actions/setup-node@v4
        with: {node-version: '20', cache: 'npm'}
      - run: npm ci
      - run: npx playwright install --with-deps

      - run: npx prisma db push
        env:
          DB_URL: 'mysql://root:root@localhost:3307/prosper_e2e_test_db'

      # Docker Path (Workflow Run)
      - run: docker pull gkalabin/prosper:${{ github.event.workflow_run.head_sha }}
        if: github.event_name == 'workflow_run'

      - run: npx playwright test
        if: github.event_name == 'workflow_run'
        env:
          CI: 'true'
          E2E_DOCKER_IMAGE: gkalabin/prosper:${{ github.event.workflow_run.head_sha }}

      # Local Path (Pull Request)
      - run: npm run build
        if: github.event_name == 'pull_request'

      - run: npx playwright test
        if: github.event_name == 'pull_request'
        env:
          CI: 'true'
