name: Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  unit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: npm ci
      - run: npm run test

  e2e:
    runs-on: ubuntu-latest
    services:
      mysql-e2e:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: prosper_e2e_test_db
        ports:
          - 3307:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with: {node-version: '20', cache: 'npm'}
      - run: npm ci
      - run: npx playwright install --with-deps
      - run: npx prisma db push
        env:
          DB_URL: 'mysql://root:root@localhost:3307/prosper_e2e_test_db'
      - run: npm run build
      - run: npx playwright test
        env:
          CI: 'true'
